<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Component</title>
		<link rel="stylesheet" href="image.css" />
	</head>

	<body>
		<!-- Navigation -->
		<nav class="nav-container">
			<div class="left-nav">
				<a class="nav-heading" href="/index.html">SNKRS UI</a>
				<span class="nav-subheading">v1.0</span>
			</div>

			<div class="right-nav">
				<div class="nav-link"><a href="/docs.html">Get Started</a></div>
				<div class="nav-link"><a href="https://github.com/ChhikaraBRUH/snkrs-ui">GitHub</a></div>
				<div id="nav-menu-btn" class="material-icons">menu</div>
			</div>
		</nav>

		<!-- Nav Menu -->

		<div class="nav-menu">
			<div id="nav-menu-close-btn" class="material-icons md-48">close</div>
			<div class="nav-menu-link"><a href="/Components/Alert/alert.html">Alert</a></div>
			<div class="nav-menu-link"><a href="/Components/Avatar/avatar.html">Avatar</a></div>
			<div class="nav-menu-link"><a href="/Components/Badge/badge.html">Badge</a></div>
			<div class="nav-menu-link"><a href="/Components/Button/button.html">Button</a></div>
			<div class="nav-menu-link"><a href="/Components/Card/card.html">Card</a></div>
			<div class="nav-menu-link"><a href="/Components/Image/image.html">Image</a></div>
			<div class="nav-menu-link"><a href="/Components/Input/input.html">Input</a></div>
			<div class="nav-menu-link"><a href="/Components/List/list.html">List</a></div>
			<div class="nav-menu-link"><a href="/Components/Navigation/navigation.html">Navigation</a></div>
			<div class="nav-menu-link"><a href="/Components/TextUtilitites/text-utilities.html">Text Utilities</a></div>
		</div>

		<!-- Page Heading -->

		<div class="wrapper">
			<div class="component-info-div">
				<h2 class="text-title">Image Component</h2>
				<p class="text-description">
					An image is a graphic representation of something. Images can be made responsive (so that they don't jump out
					of its parent container), have rounded corners or can look like a circle.
				</p>
				<hr />
			</div>

			<!-- Responsive Images Usage -->

			<div class="component-info-div">
				<h3 class="text-title">Responsive Images</h3>
				<p class="text-description">
					Images are made responsive with the class
					<code>".img-responsive"</code>.
					<br />
					<code>max-width: 100%;</code> and <code>height: auto;</code> are applied to the image so that it scales with
					the parent element.
				</p>

				<br />

				<div class="img-container">
					<img
						src="https://plchldr.co/i/300x300?&amp;bg=ccc&amp;fc=424242&amp;text=Responsive%20Image(Currently%20300*300px)"
						class="img-responsive"
						alt="Responsive Image"
					/>
				</div>
				<br />
				<iframe
					src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=522.25&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img-responsive%2522%2520alt%253D%2522...%2522%253E"
					style="width: 522px; height: 95px; border: 0; transform: scale(1); overflow: hidden"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>

				<hr />
			</div>

			<!-- Rounded Corners Images -->

			<div class="component-info-div">
				<h3 class="text-title">Rounded Corners Images</h3>
				<p class="text-description">The <code>".img-rounded-corners"</code> class adds rounded corners to an image.</p>

				<br />

				<div class="img-container">
					<img
						src="https://plchldr.co/i/200x200?&amp;bg=ccc&amp;fc=424242&amp;text=Rounded%20Corners"
						class="img-rounded-corners"
						alt="Rounded Corners Image"
					/>
				</div>
				<br />
				<iframe
					src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=599.75&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img-rounded-corners%2522%2520alt%253D%2522...%2522%253E"
					style="width: 600px; height: 95px; border: 0; transform: scale(1); overflow: hidden"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
				<hr />
			</div>

			<!-- Circle Images -->

			<div class="component-info-div">
				<h3 class="text-title">Circle Images</h3>
				<p class="text-description">The <code>".img-circle"</code> class shapes the image to cicle.</p>

				<br />

				<div class="img-container">
					<img
						src="https://plchldr.co/i/200x200?&amp;bg=ccc&amp;fc=424242&amp;text=Circle%20Image"
						class="img-circle"
						alt="Circle Image"
					/>
				</div>
				<br />
				<iframe
					src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=522.25&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522...%2522%2520class%253D%2522img-circle%2522%2520alt%253D%2522...%2522%253E"
					style="width: 522px; height: 95px; border: 0; transform: scale(1); overflow: hidden"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
				<hr />
			</div>
		</div>
	</body>
	<script src="/main.js"></script>
</html>
