/* Importing Reset CSS */
@import "/reset-css.css";

/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

/* Google Material Icons Import */
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

.material-icons.md-18 {
	font-size: 18px;
}
.material-icons.md-24 {
	font-size: 24px;
}
.material-icons.md-36 {
	font-size: 36px;
}
.material-icons.md-48 {
	font-size: 48px;
}

.material-icons-outlined.md-18 {
	font-size: 18px;
}
.material-icons-outlined.md-24 {
	font-size: 24px;
}
.material-icons-outlined.md-36 {
	font-size: 36px;
}
.material-icons-outlined.md-48 {
	font-size: 48px;
}

/* Declaring Variables */

:root {
	/* Colors */

	--primary-color: #ff0016;
	--primary-color-light: #ff3344;
	--primary-color-darker: #cc0011;
	--primary-color-disabled: #ff7f8a;
	--secondary-color: #3b82f6;
	--blue: #0369a1;
	--blue-light: #7dd3fc;
	--yellow: #eab308;
	--yellow-light: #fde778;
	--green: #047857;
	--green-light: #86efac;
	--red: #dc2626;
	--red-light: #fca5a5;
	--gray: #666666;
	--black: #282828;
	--white: #ffffff;
	--lynx-white: #f7f7f7;
	--violet: #5348c7;
	--lynx-gray: #c5c5c5;

	/* Spacing */

	--space-xxl: 4rem;
	--space-xl: 2.5rem;
	--space-lg: 2rem;
	--space-md: 1.5rem;
	--space-sm: 1rem;
	--space-xs: 0.5rem;

	/* Border Radius */

	--border-rad-sm: 0.3125rem;
	--border-rad-md: 0.625rem;
	--border-rad-lg: 0.9375rem;
	--border-rad-full: 50%;
}

/* Typography */

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	background-color: var(--lynx-white);
}

h1,
.text-xl {
	font-size: 3rem;
	line-height: 4rem;
}

h2,
.text-lg {
	font-size: 2.5rem;
	line-height: 3rem;
}

h3,
.text-md {
	font-size: 2rem;
	line-height: 2.5rem;
}

h4,
.text-sm {
	font-size: 1.75rem;
	line-height: 2.25rem;
}

h5,
.text-xs {
	font-size: 1.5rem;
	line-height: 2rem;
}

h6,
.text-xxs {
	font-size: 1rem;
	line-height: 1.5rem;
}

/* Text Alignment */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/* Wrapper Div */

.wrapper {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-sm);
	margin: var(--space-lg);
}

/* Component Info Div */

.text-title {
	color: var(--black);
}

.text-description {
	color: var(--gray);
}

.component-info-div {
	display: flex;
	width: 90%;
	flex-direction: column;
	align-items: flex-start;
}

hr {
	width: 80%;
	align-self: flex-start;
	margin: var(--space-sm) 0rem;
	border: none;
	border-top: 1px solid var(--gray);
}

/* i-frame div */

.iframe-div {
	max-width: 100%;
	overflow: scroll;
}

/* Responsive Parameters */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	html {
		font-size: 14px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}
