<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>List Component</title>
		<link rel="stylesheet" href="list.css" />
	</head>

	<body>
		<!-- Navigation -->
		<nav class="nav-container">
			<div class="left-nav">
				<a class="nav-heading" href="/index.html">SNKRS UI</a>
				<span class="nav-subheading">v1.0</span>
			</div>

			<div class="right-nav">
				<div class="nav-link"><a href="/docs.html">Get Started</a></div>
				<div class="nav-link"><a href="https://github.com/ChhikaraBRUH/snkrs-ui">GitHub</a></div>
				<div id="nav-menu-btn" class="material-icons">menu</div>
			</div>
		</nav>

		<!-- Nav Menu -->

		<div class="nav-menu">
			<div id="nav-menu-close-btn" class="material-icons md-48">close</div>
			<div class="nav-menu-link"><a href="/Components/Alert/alert.html">Alert</a></div>
			<div class="nav-menu-link"><a href="/Components/Avatar/avatar.html">Avatar</a></div>
			<div class="nav-menu-link"><a href="/Components/Badge/badge.html">Badge</a></div>
			<div class="nav-menu-link"><a href="/Components/Button/button.html">Button</a></div>
			<div class="nav-menu-link"><a href="/Components/Card/card.html">Card</a></div>
			<div class="nav-menu-link"><a href="/Components/Image/image.html">Image</a></div>
			<div class="nav-menu-link"><a href="/Components/Input/input.html">Input</a></div>
			<div class="nav-menu-link"><a href="/Components/List/list.html">List</a></div>
			<div class="nav-menu-link"><a href="/Components/Navigation/navigation.html">Navigation</a></div>
			<div class="nav-menu-link"><a href="/Components/TextUtilitites/text-utilities.html">Text Utilities</a></div>
		</div>

		<!-- Page Heading -->

		<div class="wrapper">
			<div class="component-info-div">
				<h2 class="text-title">List Component</h2>
				<p class="text-description">
					Lists are continuous, vertical indexes of text or images. They are composed of items containing primary and
					supplemental actions, which are represented by icons and text.
				</p>
				<hr />
			</div>

			<!-- Default List Usage -->

			<div class="component-info-div">
				<h3 class="text-title">Simple List</h3>
				<p class="text-description">Simple lists are used to list down items without much emphasis.</p>

				<br />

				<ul class="list list-simple">
					<div class="list-heading">List Heading</div>
					<hr />
					<li>List Item 1</li>
					<li>List Item 2</li>
					<ul class="list-sub-items">
						<li>Sub List Item 1</li>
						<li>Sub List Item 2</li>
					</ul>
					<li>List Item 3</li>
					<li>List Item 4</li>
				</ul>

				<br />
				<iframe
					src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=550&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522list%2520list-simple%2522%253E%250A%2509%253Cdiv%2520class%253D%2522list-heading%2522%253EList%2520Heading%253C%252Fdiv%253E%250A%2509%253Chr%2520%252F%253E%250A%2509%253Cli%253EList%2520Item%25201%253C%252Fli%253E%250A%2509%253Cli%253EList%2520Item%25202%253C%252Fli%253E%250A%2509%253Cul%2520class%253D%2522list-sub-items%2522%253E%250A%2509%2509%253Cli%253ESub%2520List%2520Item%25201%253C%252Fli%253E%250A%2509%2509%253Cli%253ESub%2520List%2520Item%25202%253C%252Fli%253E%250A%2509%253C%252Ful%253E%250A%2509%253Cli%253EList%2520Item%25203%253C%252Fli%253E%250A%2509%253Cli%253EList%2520Item%25204%253C%252Fli%253E%250A%253C%252Ful%253E"
					style="width: 550px; height: 322px; border: 0; transform: scale(1); overflow: hidden"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
				<hr />
			</div>

			<!-- Stacked List Usage -->

			<div class="component-info-div">
				<h3 class="text-title">Stacked List</h3>
				<p class="text-description">Stacked lists can be used to make up notification tray or alert boxes.</p>

				<br />

				<ul class="list list-stacked">
					<div class="list-heading">List Heading</div>
					<hr />
					<li>List Item 1</li>
					<li>List Item 2</li>
					<li>List Item 3</li>
					<li>List Item 4</li>
				</ul>

				<br />
				<iframe
					src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=550&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cul%2520class%253D%2522list%2520list-stacked%2522%253E%250A%2509%253Cdiv%2520class%253D%2522list-heading%2522%253EList%2520Heading%253C%252Fdiv%253E%250A%2509%253Chr%2520%252F%253E%250A%2509%253Cli%253EList%2520Item%25201%253C%252Fli%253E%250A%2509%253Cli%253EList%2520Item%25202%253C%252Fli%253E%250A%2509%253Cli%253EList%2520Item%25203%253C%252Fli%253E%250A%2509%253Cli%253EList%2520Item%25204%253C%252Fli%253E%250A%253C%252Ful%253E"
					style="width: 550px; height: 239px; border: 0; transform: scale(1); overflow: hidden"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
				<hr />
			</div>
		</div>
	</body>
	<script src="/main.js"></script>
</html>
