/* Importing Common CSS File */

@import "/common.css";

/* Navbar Container */

.nav-container {
	align-items: flex-end;
	background-color: var(--white);
	box-shadow: 0 0.5rem 0.5rem -0.5rem var(--black);
	display: flex;
	justify-content: space-between;
	padding: var(--space-md);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 101;
}

/* Nav Menu Btn */

#nav-menu-btn {
	cursor: pointer;
	transition: all 0.4s ease;
}

#nav-menu-btn:hover {
	color: var(--primary-color);
}

/* Nav Menu */

.nav-menu {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: var(--black);
	gap: 1rem;
	z-index: 50;
}

.nav-menu .material-icons {
	color: var(--white);
	cursor: pointer;
	position: absolute;
	right: 10%;
	top: 10%;
}

.nav-menu .material-icons:hover {
	color: var(--primary-color);
}

.nav-menu-link a {
	color: var(--white);
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.4s ease;
}

.nav-menu-link a:hover {
	color: var(--primary-color);
}

/* Left Side Elements */

.left-nav {
	font-size: 1.2rem;
	font-weight: 900;
}

.nav-heading {
	color: var(--primary-color);
	text-decoration: none;
}

.nav-subheading {
	color: var(--gray);
	font-size: 0.85rem;
	font-weight: 500;
}

/* Right Side Elements */

.right-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.nav-link {
	margin: 0 var(--space-sm);
	list-style: none;
	font-weight: 700;
	font-size: 1rem;
}

.nav-link a {
	color: var(--black);
	cursor: pointer;
	text-decoration: none;
	transition: all 0.4s ease;
}

.nav-link a:hover {
	color: var(--primary-color);
}
