<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Navigation Component</title>
		<link rel="stylesheet" href="/Components/Navigation/navigation.css" />
	</head>
	<body>
		<nav class="nav-container">
			<div class="left-nav">
				<a class="nav-heading" href="/index.html">SNKRS UI</a>
				<span class="nav-subheading">v1.0</span>
			</div>

			<ul class="right-nav">
				<li class="nav-link"><a href="#">Home</a></li>
				<li class="nav-link"><a href="#">Docs</a></li>
				<li class="nav-link"><a href="#">GitHub</a></li>
			</ul>
		</nav>
	</body>
</html>
