/* Importing Button, Navigation & Common CSS File */

@import "/Components/Button/button.css";

/* Modal Container */

.modal-container {
	background-color: rgba(100, 100, 100, 0.9);
	display: none;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 150;
}

/* Modal */

.modal {
	align-items: flex-start;
	background-color: var(--white);
	border-radius: var(--border-rad-lg);
	box-shadow: 0 0.5rem 0.5rem -0.5rem var(--black);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: var(--space-lg);
	width: 25rem;
}

/* Modal Buttons */

.modal-btns {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	width: 100%;
}
