<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Snackbar Component</title>
		<link rel="stylesheet" href="snackbar.css" />
	</head>

	<body>
		<!-- Navigation -->
		<nav class="nav-container">
			<div class="left-nav">
				<a class="nav-heading" href="/index.html">SNKRS UI</a>
				<span class="nav-subheading">v1.0</span>
			</div>

			<div class="right-nav">
				<div class="nav-link"><a href="/docs.html">Get Started</a></div>
				<div class="nav-link"><a href="https://github.com/ChhikaraBRUH/snkrs-ui">GitHub</a></div>
				<div id="nav-menu-btn" class="material-icons">menu</div>
			</div>
		</nav>

		<!-- Nav Menu -->

		<div class="nav-menu">
			<div id="nav-menu-close-btn" class="material-icons md-48">close</div>
			<h4 class="nav-menu-heading">COMPONENTS</h4>
			<br />
			<div class="nav-menu-link"><a href="/Components/Alert/alert.html">Alert</a></div>
			<div class="nav-menu-link"><a href="/Components/Avatar/avatar.html">Avatar</a></div>
			<div class="nav-menu-link"><a href="/Components/Badge/badge.html">Badge</a></div>
			<div class="nav-menu-link"><a href="/Components/Button/button.html">Button</a></div>
			<div class="nav-menu-link"><a href="/Components/Card/card.html">Card</a></div>
			<div class="nav-menu-link"><a href="/Components/Grid/grid.html">Grid</a></div>
			<div class="nav-menu-link"><a href="/Components/Image/image.html">Image</a></div>
			<div class="nav-menu-link"><a href="/Components/Input/input.html">Input</a></div>
			<div class="nav-menu-link"><a href="/Components/List/list.html">List</a></div>
			<div class="nav-menu-link"><a href="/Components/Modal/modal.html">Modal</a></div>
			<div class="nav-menu-link"><a href="/Components/Navigation/navigation.html">Navigation</a></div>
			<div class="nav-menu-link"><a href="/Components/Rating/rating.html">Rating</a></div>
			<div class="nav-menu-link"><a href="/Components/Snackbar/snackbar.html">Snackbar</a></div>
			<div class="nav-menu-link"><a href="/Components/TextUtilitites/text-utilities.html">Text Utilities</a></div>
		</div>

		<!-- Page Heading -->

		<div class="wrapper">
			<div class="component-info-div">
				<h2 class="text-title">Snackbar Component</h2>
				<p class="text-description">
					Snackbar display messages related to an interaction happened between user and the website. They usually stay
					on the screen for 2-3 seconds and then disappear.
				</p>
				<hr />
			</div>

			<!-- Simple Snackbar Usage -->

			<div class="component-info-div">
				<h3 class="text-title">Simple Snackbar</h3>
				<p class="text-description">
					Simple Snackbar can be used to show success messages, warnings or errors. You can wait 3 seconds or can click
					button to close it.
				</p>

				<br />

				<!-- Snackbar Button -->
				<div class="snackbar-open-btn">
					<button class="btn btn-secondary">Show Snackbar</button>
				</div>

				<!-- Snackbar Container -->
				<div class="snackbar-container">
					<div>Can't send. Try later today.</div>
					<button id="snackbar-close-btn" class="btn btn-primary">Dismiss</button>
				</div>

				<br />

				<div class="iframe-div">
					<iframe
						src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=750&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522snackbar-open-btn%2522%253E%250A%2509%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253EShow%2520Snackbar%253C%252Fbutton%253E%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522snackbar-container%2522%253E%250A%2509%253Cdiv%253ECan%27t%2520send.%2520Try%2520later%2520today.%253C%252Fdiv%253E%250A%2509%253Cbutton%2520id%253D%2522snackbar-close-btn%2522%2520class%253D%2522btn%2520btn-primary%2522%253EDismiss%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
						style="width: 750px; height: 202px; border: 0; transform: scale(1); overflow: hidden"
						sandbox="allow-scripts allow-same-origin"
					>
					</iframe>
				</div>

				<hr />
			</div>
		</div>
	</body>
	<script src="/main.js"></script>
	<script src="snackbar.js"></script>
</html>
