<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Alert Component</title>
		<link rel="stylesheet" href="alert.css" />
	</head>
	<body>
		<div class="wrapper">
			<!-- Page Heading -->

			<div class="component-info-div">
				<h2 class="text-title">Alert</h2>
				<p class="text-description">
					An alert displays a short, important message in a way that attracts
					the user's attention without interrupting the user's task.
				</p>
				<hr />
			</div>

			<!-- Simple Alert Usage -->
			<div class="component-info-div">
				<h3 class="text-title">Simple Alert Component</h3>
				<p class="text-description">
					The alert offers four severity levels that set a distinctive icon and
					color.
				</p>
				<br />

				<div class="alert-container">
					<div class="alert alert-error">
						<div class="material-icons">error</div>
						<p>This is an error alert.</p>
					</div>
					<div class="alert alert-warning">
						<div class="material-icons">warning</div>
						<p>This is an warning alert.</p>
					</div>
					<div class="alert alert-info">
						<div class="material-icons">info</div>
						<p>This is an info alert.</p>
					</div>
					<div class="alert alert-success">
						<div class="material-icons">task_alt</div>
						<p>This is an success alert.</p>
					</div>
				</div>

				<hr />
			</div>
		</div>
	</body>
</html>
